/* -----------------------------------------------
 * Picture checkbox
 * --------------------------------------------- */

.picture-checkbox > input[type="checkbox"] {
  display: none;
}

.picture-checkbox > label {
	width:200px;
  border: 1px solid #fff;
  padding: 10px;
  position: relative;
  margin: 10px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  cursor: pointer;
  -moz-user-select: none; 
  -webkit-user-select: none; 
  -ms-user-select:none; 
  user-select:none;
  -o-user-select:none;
}

.picture-checkbox > label:before {
  background-color: white;
  color: white;
  content: " ";
  display: block;
  border-radius: 50%;
  border: 1px solid grey; 
  position: absolute;
  top: 45px;
  left: 45px;
  width: 25px;
  height: 25px;
  text-align: center;
  line-height: 28px;
  transition-duration: 0.4s;
  transform: scale(0);
}

.picture-checkbox > label img {
  height: 50px;
  width: 50px;
  transition-duration: 0.2s;
  transform-origin: 50% 50%;
  -moz-user-select: none; 
  -webkit-user-select: none; 
  -ms-user-select:none; 
  user-select:none;
  -o-user-select:none;
}

.picture-checkbox > :checked + label {
  border-color: #ddd;
}

.picture-checkbox > :checked + label:before {
  content: "\2714";
  background-color: #22cc55;
  transform: scale(1);
}

.picture-checkbox > :checked + label img:before {
  transform: scale(0.9);
  box-shadow: 0 0 5px #333;
}

.member-label{
	position: relative;
	height: 60px;
	width:200px;
	margin: 10px;
	border: 1px solid rgba(230, 230, 230, 50);
	display: inline-block;
}

.member-label div{
  position: relative;
	height: 100%;
}

.member-label div label {
  position: relative;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-left: 10px;
  margin-bottom: 0px;
}

.member-label div p {
  position: relative;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-left: 10px;
  margin-bottom: 0px;
}

.member-label div img{
  position: absolute;  
  height: 50px;
  width: 50px;
  top: 0;  
  bottom: 0; 
  margin: auto; 
}

/* -----------------------------------------------
 * Label checkbox
 * --------------------------------------------- */

.label-checkbox {
	padding: 10px;
	border: 1px solid rgba(0, 0, 0, 0.15); 
	border-radius: 10px;
	margin-bottom: 10px;
}

.label-checkbox input[type="checkbox"] {
  display: none;
}

.label-checkbox input[type="checkbox"] + label {
	 display: inline-block;
  border: 1px solid #fff;
  border-color: #ccc;
  border-radius: 4px;
  padding: 4px 8px;
  position: relative;
  margin: 4px;
  cursor: pointer;
  font-size: 12px;
  background-color: #ffffff;
  -moz-user-select: none; 
  -webkit-user-select: none; 
  -ms-user-select:none; 
  user-select:none;
  -o-user-select:none;
}

.label-checkbox input[type="checkbox"]:disabled + label{
  cursor: not-allowed;
}

.label-checkbox input[type="checkbox"]:checked + label {
  background-color: #eeeeec;
}


/* -----------------------------------------------
 * Marked/Unmarked
 * --------------------------------------------- */

.unmarked,
.marked{
  display: inline-block;
  text-align: center;
}

.unmarked > label,
.marked > label{
  display: inline-block;
  position: relative;
}

.marked > label:before {
  background-color: #22cc55;
  color: white;
  content: "\2714";
  font-size: 1.25em;
  line-height: 1;
  border-radius: 50%;
  border: 1px solid grey;
  position: absolute;
  top: 80%;
  left: 80%;
  width: 30%;
  height: 30%;
  text-align: center;	
}

/* Miscellaneous */

.panel-invis{
  border:0; 
  box-shadow:0;
}

.uninteractable {
	pointer-events: none;
}

.badge-danger {
	background-color: #d9534f;
}

.block-inline {
  display: inline-block;
}

.form-group-nested{
	margin-left: 15px;
	margin-right: 15px;
	margin-bottom: 15px;
}

.plus-one{
	border: 1px solid rgba(230, 230, 230, 50); 
	border-radius: 10px; 
	margin: 10px
}

/* sidebar */

.group {
    background: yellow;
    width: 200px;
    height: 500px;
}

.group .subgroup {
    background: orange;
    width: 150px;
    height: 200px;
}

.fixed {
    position: fixed;
}

/* sidebar */
.bs-docs-sidebar {
    padding-left: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}

/* all links */
.bs-docs-sidebar .nav>li>a {
    color: #999;
    border-left: 2px solid transparent;
    padding: 4px 20px;
    font-size: 13px;
    font-weight: 400;
}

/* nested links */
.bs-docs-sidebar .nav .nav>li>a {
    padding-top: 1px;
    padding-bottom: 1px;
    padding-left: 30px;
    font-size: 12px;
}

/* active & hover links */
.bs-docs-sidebar .nav>.active>a, 
.bs-docs-sidebar .nav>li>a:hover, 
.bs-docs-sidebar .nav>li>a:focus {
    color: #563d7c;                 
    text-decoration: none;          
    background-color: transparent;  
    border-left-color: #563d7c; 
}

/* all active links */
.bs-docs-sidebar .nav>.active>a, 
.bs-docs-sidebar .nav>.active:hover>a,
.bs-docs-sidebar .nav>.active:focus>a {
    font-weight: 700;
}

/* nested active links */
.bs-docs-sidebar .nav .nav>.active>a, 
.bs-docs-sidebar .nav .nav>.active:hover>a,
.bs-docs-sidebar .nav .nav>.active:focus>a {
    font-weight: 500;
}

/* hide inactive nested list */
.bs-docs-sidebar .nav ul.nav {
    display: none;           
}

/* show active nested list */
.bs-docs-sidebar .nav>.active>ul.nav {
    display: block;           
}

/* -----------------------------------------------
 * Timeline
 * --------------------------------------------- */
 .timeline {
    list-style: none;
    padding: 10px 0;
    position: relative;
    font-weight: 300;
}

.timeline:before {
    top: 0;
    bottom: 0;
    position: absolute;
    content:" ";
    width: 2px;
    background: #e6e6e6;
    left: 50%;
    margin-left: -1.5px;
    margin-top: 20px;
}

.timeline > li {
    margin-bottom: 20px;
    position: relative;
    width: 50%;
    float: left;
    clear: left;      </ul>
}

.timeline > li:before, .timeline > li:after {
    content:" ";
    display: table;
}

.timeline > li:after {
    clear: both;
}

.timeline > li:before, .timeline > li:after {
    content:" ";
    display: table;
}

.timeline > li:after {
    clear: both;
}

.timeline > li > .timeline-panel {
    width: calc(100% - 25px);
    width: -moz-calc(100% - 25px);
    width: -webkit-calc(100% - 25px);
    float: left;
    border: 1px solid #dcdcdc;
    background: #ffffff;
    position: relative;
}

.timeline > li > .timeline-panel:before {
    position: absolute;
    top: 26px;
    right: -15px;
    display: inline-block;
    border-top: 15px solid transparent;
    border-left: 15px solid #dcdcdc;
    border-right: 0 solid #dcdcdc;
    border-bottom: 15px solid transparent;
    content:" ";
}

.timeline > li > .timeline-panel:after {
    position: absolute;
    top: 27px;
    right: -14px;
    display: inline-block;
    border-top: 14px solid transparent;
    border-left: 14px solid #ffffff;
    border-right: 0 solid #ffffff;
    border-bottom: 14px solid transparent;
    content:" ";
}

.timeline > li > .timeline-badge {
    color: #ffffff;
    background-color: #e6e6e6;
    border-radius: 50%;
    width: 12px;
    height: 12px;
    line-height: 50px;
    text-align: center;
    position: absolute;
    top: 16px;
    right: -6px;
    z-index: 100;
    margin-top: 20px;
}

.timeline > li.timeline-inverted > .timeline-panel {
    float: right;
}

.timeline > li.timeline-inverted > .timeline-panel:before {
    border-left-width: 0;
    border-right-width: 15px;
    left: -15px;
    right: auto;
}

.timeline > li.timeline-inverted > .timeline-panel:after {
    border-left-width: 0;
    border-right-width: 14px;
    left: -14px;
    right: auto;
}

.timeline-badge > a {
    color: #e6e6e6 !important;
}

.timeline-badge a:hover {
    color: #8c8c8c !important;
}

.timeline-title {
    margin-top: 0;
    color: inherit;
}

.timeline-heading h4 {
    font-weight: 400;
    padding: 0 15px;
    color: #4679bd;
}

.timeline-body > p, .timeline-body > ul {
    padding: 10px 15px;
    margin-bottom: 0;
}

.timeline-footer {
    padding: 5px 15px;
    background-color:#f4f4f4;
}

.timeline-footer p { margin-bottom: 0; }
.timeline-footer > a {
    cursor: pointer;
    text-decoration: none;
}

.timeline > li.timeline-inverted {
    float: right;
    clear: right;
}

.timeline > li:nth-child(2) {
    margin-top: 60px;
}

.timeline > li.timeline-inverted > .timeline-badge {
    left: -6px;
}

.no-float {
    float: none !important;
}

@media (max-width: 767px) {
    ul.timeline:before {
        left: 40px;
    }
    
    ul.timeline > li {
        margin-bottom: 0px;
        position: relative;
        width:100%;
        float: left;
        clear: left;
    }
    
    ul.timeline > li > .timeline-panel {
        width: calc(100% - 65px);
        width: -moz-calc(100% - 65px);
        width: -webkit-calc(100% - 65px);
    }
    
    ul.timeline > li > .timeline-badge {
        left: 28px;
        margin-left: 0;
        top: 16px;
    }
    
    ul.timeline > li > .timeline-panel {
        float: right;
    }
    
    ul.timeline > li > .timeline-panel:before {
        border-left-width: 0;
        border-right-width: 15px;
        left: -15px;
        right: auto;
    }
    
    ul.timeline > li > .timeline-panel:after {
        border-left-width: 0;
        border-right-width: 14px;
        left: -14px;
        right: auto;
    }
    
    .timeline > li.timeline-inverted {
        float: left;
        clear: left;
        margin-top: 30px;
        margin-bottom: 30px;
    }
    
    .timeline > li.timeline-inverted > .timeline-badge {
        left: 28px;
    }
}
